{% extends "game_base.html" %}
{%block index %}<li class='active'><a href="/wechat/hot"><span class="glyphicon glyphicon-fire"></span> 热门游戏</a></li>{% endblock %}
{% block content %}
<div class="container">
<div class="row">
{% for i in result %}
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 a">
<a target=_blank href="{{i.game_link}}" title="{{i.game_title}}"  >
  <h6>{{i.game_title}}</h6>
  <span class="imgbox">
  <img src="{{i.game_picture}}" width="283" height="163">
</span>
  <span>{{i.game_name}}</span>
  <b></b>
  <span>{{i.platform}}</span>
<p>
 <span>{{i.game_nickname}}</span>
    <span>{{i.game_count}}</span>
     </p>
</a>
</div>
{% endfor %}
{% endblock %}
