{% extends "game_base.html" %}

                                {% block girl %}<li class="active"><a href="/wechat/girl"><span class="glyphicon glyphicon-fire"></span> 全民星秀</a></li>{% endblock %}

{% block content %}
<div class="container">
<h1>全民星秀</h1>
<div class="row">
{% for i in result %}
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 a">
<a target=_blank href="{{i.game_link}}" title="{{i.game_title}}">
  <h6>{{i.game_title}}</h6>
  <span class="imgbox">
  <img src="{{i.game_picture}}" width="283" height="163">
</span>
  <span>{{i.game_name}}</span>
  <b></b>
  <span>{{i.platform}}</span>
<p>
 <span>{{i.game_nickname}}</span>
    <span>{{i.game_count}}</span>
     </p>
</a>
</div>
{% endfor %}
</div>
{% endblock %}
