{% extends "base.html" %}
{% block container %}
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 a">
<a target=_blank href="/wechat/hot" title="热门游戏"  >
  <span class="imgbox">
  <b></b>
  <img src="/static/hot.jpg" width="283" height="163">
</span>
  <h3 class="ellipsis">热门游戏</h3>
</a>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 a">
<a target=_blank href="/wechat/ow" title="守望先锋"  >
  <span class="imgbox">
  <b></b>
  <img src="/static/ow.jpg" width="283" height="163">
</span>
  <h3 class="ellipsis">守望先锋</h3>
</a>
</div>




<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 a">
<a target=_blank href="/wechat/hs" title="炉石传说"  >
  <span class="imgbox">
  <b></b>
  <i class="black"></i>
  <img src="/static/hs.jpg" width="283" height="163">
</span>

  <h3 class="ellipsis">炉石传说</h3>

</a>

</div>


<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 a">
 <a target=_blank href="/wechat/lol" title="英雄联盟"  >
  <span class="imgbox">
  <b></b>
  <i class="black"></i>
  <img src="/static/lol.jpg" width="283" height="163">
</span>
  <h3 class="ellipsis">英雄联盟</h3>
</a>
</div>




<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 a">
<a target=_blank href="/wechat/girl" title="全民星秀"  >
  <span class="imgbox">
  <b></b>
  <i class="black"></i>
  <img src="/static/girl.jpg" width="283" height="163">
</span>
    <h3 class="ellipsis">全民星秀</h3>
</a>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 a">
<a target=_blank href="/wechat/tvgame" title="主机游戏"  >
  <span class="imgbox">
  <b></b>
  <i class="black"></i>
  <img src="/static/tvgame.jpg" width="283" height="163">
</span>
  <h3 class="ellipsis">主机游戏</h3>
</a>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 a">
<a target=_blank href="/wechat/badminton" title="Sports"  >
  <span class="imgbox">
  <b></b>
  <i class="black"></i>
  <img src="/static/sports.jpeg" width="283" height="163">
</span>
  <h3 class="ellipsis">体育直播</h3>
</a>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 a">
<a target=_blank href="/wechat/nowplay" title="正在热映"  >
  <span class="imgbox">
  <b></b>
  <i class="black"></i>
  <img src="/static/oscar.jpg" width="283" height="163">
</span>
  <h3 class="ellipsis">正在热映</h3>
</a>
</div>



<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 a">
<a target=_blank href="/wechat/tvshow" title="剧集推荐"  >
  <span class="imgbox">
  <b></b>
  <i class="black"></i>
  <img src="/static/tvshow.jpg" width="283" height="163">
</span>
  <h3 class="ellipsis">剧集推荐</h3>
</a>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261136620'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1261136620%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</div>

</div>
</div>
<div id="footer">
<p align="center">Powered By Zhabibei <a href="http://www.miitbeian.gov.cn">苏ICP备17053688号</a></p>
</div>
</body>
</html>
{% endblock %}
