{% extends "movie_base.html" %}

                                {% block tvshow %}<li class="active"><a href="/wechat/tvshow"><span class="glyphicon glyphicon-fire"></span> 剧集推荐</a></li>{% endblock %}

{% block content %}

<div class="container">
<p><h1>电视剧</h1></p>
<div class="row">
{% for i in result %}
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 a">
<a target=_blank href="{{i.tv_link}}" title="{{i.tv_name}}"  >
  <h5>{{i.tv_name}} {{i.tv_score}}</h5>
  <span class="imgbox">
  <img src="{{i.tv_pic}}" width="133" height="200">
</span>
</a>
</div>
{% endfor %}
{% endblock %}
