{% extends "movie_base.html" %}

                                {% block laterplay %}<li class="active"><a href="/wechat/laterplay"><span class="glyphicon glyphicon-fire"></span> 即将上映</a></li>{% endblock %}

{% block content %}
<div class="container">
<p><h1>即将上映</h1></p>
<div class="row">
{% for i in result %}
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 a">
<a target=_blank href="{{i.movie_link}}" title="{{i.movie_name}}"  >
  <h5>{{i.movie_name}}</h5>
  <span class="imgbox">
  <img src="{{i.movie_pic}}" width="140" height="200">
</span>
  <span><p>{{i.movie_time}}</p></span>
  <span>{{i.movie_type}}</span>
  <span>{{i.movie_region}}</span>
  <span><p>{{i.movie_people}}人想看</p></span>
</a>
 <a target=_blank href={{i.movie_preview}}><p>预告片</p></a>
</div>
{% endfor %}

{% endblock %}
