{% extends "movie_base.html" %}

                                {% block nowplay %}<li class="active"><a href="/wechat/nowplay"><span class="glyphicon glyphicon-fire"></span> 正在热映</a></li>{% endblock %}

{% block content %}
<div class="container">
<p><h1>正在热映</h1></p>
<div class="row">
{% for i in result %}
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 a">
<a target=_blank href="{{i.movie_link}}" title="{{i.movie_name}}"  >
  <h5>{{i.movie_name}}</h5>
  <span class="imgbox">
  <img src="{{i.movie_pic}}" width="140" height="200">
  <br></br>
  <span><p>地区:{{i.movie_region}}</p></span>
  <span><p>导演:{{i.movie_director}}</p></span>
  <span>演员:{{i.movie_actor}}</span>
  <span><p>上映日期:{{i.movie_release}}</p></span>
  <span><p>豆瓣评分:{{i.movie_score}}</p></span>
</a>
</div>
{% endfor %}

{% endblock %}
